# Python
__pycache__/
*.py[cod]
.venv/
.env

# IDE/OS
.DS_Store
.vscode/
.idea/

# Data/Artifacts
hard_user_data/**/data/
hard_user_data/hyperopt_results/
hard_user_data/validate_results/
hard_user_data/logs/
reports/*
!reports/.gitkeep
*.zip
